$breakpoints: (xl: 1320px, l: 1000px, m: 780px);

@mixin breakpoint-up($width) {
	@media screen and (min-width: map-get($breakpoints, $width)) {
		@content;
	}
}

@mixin breakpoint-down($width) {
	@media screen and (max-width: map-get($breakpoints, $width) - 1) {
		@content;
	}
}

@mixin breakpoint($width) {
	@if ($width==xl) {
		@media screen and (min-width: map-get($breakpoints, xl)) {
			@content;
		}
	}

	@else if ($width==l) {
		@media screen and (min-width: map-get($breakpoints, l)) and (max-width: map-get($breakpoints, xl) - 1) {
			@content;
		}
	}

	@else if ($width==m) {
		@media screen and (min-width: map-get($breakpoints, m)) and (max-width: map-get($breakpoints, l) - 1) {
			@content;
		}
	}

	@else if ($width==s) {
		@media screen and (max-width: map-get($breakpoints, m) - 1) {
			@content;
		}
	}
}
