<template lang="pug">
	.article(:id="article.id")
		a(:href="this.article.url || '/'" target="_blank")
		img.image(:src="imageUrl")

		.text-container
			p.heading {{ title }}
			p.text {{ description }}

		.info-container
			.publish-date
				img(src="~/assets/svg/calendar.svg")
				p {{ publishDate }}

			p {{ tag }}

</template>

<script>
export default {
	props: {
		article: {
			type: Object,
			required: true
		}
	},
	computed: {
		publishDate() {
			const date = new Date(this.article.publishedAt) || new Date();
			const day = date.getDate().toString();
			const month = (date.getMonth() + 1).toString();
			const year = (date.getFullYear() % 100).toString();

			return `${this.padWithZero(day, 2)}.${this.padWithZero(
				month,
				2
			)}.${year}`;
		},
		tag() {
			return this.article.tag || "No tag";
		},
		imageUrl() {
			return (
				this.article.urlToImage || require("~/assets/images/missing-image.jpg")
			);
		},
		title() {
			return this.article.title || "No title";
		},
		description() {
			return this.article.description || "No description";
		}
	},
	methods: {
		padWithZero(numberString, zeroesCount) {
			const zeroString = "0" * zeroesCount;
			return (zeroString + numberString).slice(-zeroesCount);
		}
	}
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/articles/import.scss";
</style>
