<template lang="pug">
    .articles-container
        Article(v-for="article of articles" :key="article.id" :id="article.id" :article="article")
</template>

<script>
import Article from "~/components/Article.vue";

export default {
	components: {
		Article
	},
	props: {
		articles: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_breakpoints";

.articles-container {
	display: flex;

	@include breakpoint-up(l) {
		flex-wrap: wrap;
		margin-right: -14px;
	}

	@include breakpoint-down(l) {
		flex-direction: column;
	}
}
</style>
