<template lang="pug">
    mixin previous()
        span.arrow <&nbsp;
        | previous

    mixin next()
        | next&nbsp;
        span.arrow >

    div
      p.container
          nuxt-link(v-if="havePreviousPage" :to="getLinkTarget(pageNumber - 1)")
              +previous
          span.disabled(v-else)
              +previous
          span.page-number {{ pageNumber }}
          nuxt-link(v-if="haveNextPage" :to="getLinkTarget(pageNumber + 1)")
              +next
          span.disabled(v-else)
              +next

</template>

<script>
export default {
	props: {
		pageNumber: {
			type: Number,
			required: true
		},
		haveNextPage: Boolean
	},
	computed: {
		havePreviousPage() {
			return this.pageNumber > 1;
		}
	},
	methods: {
		getLinkTarget(pageNumber) {
			const result = { name: "blog" };
			if (pageNumber !== 1) {
				result.query = { page: pageNumber };
			}
			return result;
		}
	}
};
</script>

<style lang="scss" scoped>
.container {
	width: 100%;
	margin-bottom: 50px;
	text-align: center;

	& .disabled {
		color: #e1e5e9;
	}

	& span, a {
		font-weight: 600;
	}
}

a {
	display: inline;
	text-decoration: none;
	color: blue;
}

.page-number {
	margin: 0 20px;
}

.arrow {
	font-size: 1.2em;
}
</style>
