.article {
	position: relative;
	border-radius: 2px;

	@include set-property-by-sizes((xl: 355px, l: 388px, m: 100%, s: 100%), width);

	@include breakpoint-up(l) {
		display: flex;
		flex-direction: column;

		box-shadow: 0px 4px 4px rgba(106, 117, 127, 0.25);

		margin-bottom: 28px;
		margin-right: 13px;
	}

	@include breakpoint-down(l) {
		border: 1px solid #E1E6EA;
		border-radius: 4px;

		margin-bottom: 14px;
		padding: 14px;
	}

	@include breakpoint(m) {
		display: flex;
		flex-wrap: wrap;
		padding: 14px;
	}

	& a {
		position: absolute;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.article:first-child {
	width: 100%;

	@include breakpoint-up(l) {
		position: relative;
		flex-basis: 100%;
		justify-content: space-between;

		& .image {
			position: absolute;
			top: 0px;
			height: 100%;
		}
	}

	@include breakpoint(xl) {
		$image-width: 441px;
		min-height: 237px;

		& .image {
			width: $image-width;
		}

		& .text-container {
			margin-left: $image-width;
			margin-bottom: 18px;

			padding: 28px;
			padding-bottom: 0px;
		}

		& .info-container {
			margin-left: $image-width;
			padding: 0px 28px 14px 28px
		}
	}

	@include breakpoint(l) {
		$image-width: 331px;
		min-height: 336px;

		& .image {
			width: $image-width;
		}

		& .text-container {
			margin-left: $image-width;
			margin-bottom: 18px;

			padding: 28px;
			padding-bottom: 0px;
		}

		& .info-container {
			margin-left: $image-width;
			padding: 28px;
			padding-top: 0px;
		}
	}
}
