.image {
	object-fit: cover;
	z-index: -1;

	$widths: (xl: 100%,
			l: 100%,
			m: 211px,
			s: 100%);
	@include set-property-by-sizes($widths, width);

	$heights: (xl: 163px,
			l: 163px,
			m: 149px,
			s: 140px);
	@include set-property-by-sizes($heights, height);

	@include breakpoint(s) {
		margin-bottom: 14px;
	}

	@include breakpoint-down(l) {
		border-radius: 4px;
	}
}
