.text-container {
	margin-bottom: 14px;

	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4375px;

	@include breakpoint(xl) {
		padding: 14px;
		padding-bottom: 0px;
	}

	@include breakpoint(l) {
		padding: 14px 28px 0px 28px;
	}

	@include breakpoint(m) {
		flex-basis: 485px;
		margin-bottom: 0px;
		margin-left: 14px;
	}

	& .heading {
		text-transform: uppercase;
		margin-bottom: 28px;
	}
}

.info-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4375px;

	flex-grow: 1;

	@include breakpoint(xl) {
		padding: 14px;
		padding-top: 0px;
	}

	@include breakpoint(l) {
		padding: 0px 28px 14px 28px;
	}

	@include breakpoint(m) {
		margin-top: 14px;
	}

	& .publish-date {
		display: flex;
		align-items: center;

		& img {
			margin-right: 7px;
		}
	}
}
