<template lang="pug">
    .container
        p(style="color: red" v-if="fetchFailed") Error while getting articles!
        ArticleList(:articles="articlesOnPage")
        PaginationControls(:pageNumber="pageNumber" :haveNextPage="haveNextPage")
</template>

<script>
import { mapState } from "vuex";

import ArticleList from "~/components/ArticleList.vue";
import PaginationControls from "~/components/PaginationControls.vue";

const articlesPerPage = 9;

export default {
	components: {
		ArticleList,
		PaginationControls
	},
	async fetch({ store }) {
		await store.dispatch("blog/fetchArticles");
	},
	data() {
		return {
			pageNumber: Number(this.$route.query.page) || 1
		};
	},
	watchQuery: ["page"],
	computed: {
		...mapState("blog", {
			fetchFailed: state => state.fetchFailed,
			articles: state => state.articles
		}),
		articlesOnPage() {
			const pageIndex = this.pageNumber - 1;
			const startIndex = pageIndex * articlesPerPage;
			const endIndex = startIndex + articlesPerPage;

			return this.articles.slice(startIndex, endIndex);
		},
		haveNextPage() {
			return this.pageNumber * articlesPerPage < this.articles.length;
		}
	}
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_breakpoints.scss";
@import "~/assets/scss/_mixins.scss";

.container {
	margin: 50px auto;
	$widths: (
		xl: 1092px,
		l: 791px,
		m: 740px
	);
	@include set-property-by-sizes($widths, width);

	@include breakpoint(s) {
		max-width: 400px;
		padding: 0 15px;
	}
}
</style>
